<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href={{ url_for( 'static', filename='style.css' ) }} />
    <script type="text/javascript" src="/static/script.js"></script>
</head>

<body>
    <input id="name" type="text" name="name" >
    <button id="myCoolButton">Search here!</button>  
    <h1 id="title">What's being reported about {{ topic }}?</h1>
    <div class='container' id="new">
        {% for i in range(10) %}
        <div class='item'>
                <!-- <p><a href={{ urls[i] }}><b>{{ headlines[i] }}</b></a> </p> -->
                <p><a href={{ urls[i] }}><b>{{ headlines[i] }} </b></a></p>
                <p>({{ dates[i] }})</p>
            
            <p>{{ snippets[i] }}</p>
        </div>
        {% endfor %}
    </div>
    
</body>

</html>
